</!DOCTYPE html>

<html>
<head>
  <title></title>
</head>
<body>
  <table border = 1>
    
    <tr>
      <%session = sessions.first%>
        <% session.attributes.keys.each do |key|%>
          <td><%= key %></td>
      <%end%>
    </tr>
  <% sessions.all.each do |session|%>
  <tr>
    <% session.attributes.each do |key, value|%>
    <td>
    <%if(key != "teacher_id" && key != "pose_id")%>
      <%= value %>
      <%end%>
    <%if key == "teacher_id"%>

      <%= session.teacher.name if session.teacher%>

    <%end%>
    <%if key == "pose_id"%>
      <%= session.pose.name if session.pose%>
    <%end%>
    </td>
    <% end %>
  </tr>
  <%end%>
</table>
</body>
</html>

<!--       t.datetime :begin_time
      t.datetime :end_time
      t.string :end_pose
      t.integer :energy_before
      t.integer :energy_after
      t.string :practice_type
      t.timestamps null: false -->
      